@import '~@sparkpost/matchbox/src/styles/config.scss';

.TopNavigation {
  background: color(gray, 1);
  height: 100%;
  display: flex;
}

.IconLink {
  display: inline-block;
  vertical-align: middle;
  padding: spacing(small) rem(10);

  // font-size: rem(28);
  line-height: rem(24);

  color: color(gray, 5);
  transition: 0.15s;

  &:hover, &:active, &:focus {
    color: color(gray, 10);
  }
}

.Logo {
  flex: 0 0 0;
  padding: rem(12) spacing();
  min-width: rem(250);
  height: 100%;
  opacity: 1;
  // background: darken(color(gray, 1), 0)
  border-right: 1px solid darken(color(gray, 1), 3);
}

.RightOptions {
  flex: 1 0 0;
  text-align: right;
  padding: rem(11) spacing(larger);
}

.NotificationItem {
  width: rem(460);
  padding: spacing();
  display: flex;
  border-bottom: 1px solid color(gray, 8);
}

.NotificationIconWrapper {
  flex: 0 0 0;
  min-width: rem(42);
  text-align: left;
}

.NotificationIcon {
  color: color(gray, 3)
}

.NotificationContent {
  flex: 1 0 0;
}

.Upgrade {
  margin-right: spacing();
}

.ProfileList {
  width: rem(260);
}
