@import '~@sparkpost/matchbox/src/styles/config.scss';

.TopNavigation {
  background: color(gray, 1);
  height: 100%;
}

.IconLink {
  display: inline-block;
  vertical-align: middle;
  padding: spacing(small) rem(11);

  color: color(gray, 5);
  font-size: rem(15);
  // line-height: rem(18);

  &:hover, &:active, &:focus {
    color: color(gray, 2);
  }
}

.Logo {
  display: inline-block;
  padding: rem(12) 0;
  width: rem(250);
  text-align: center;
  height: 100%;
  opacity: 1;
  // background: darken(color(gray, 1), 0)
  border-right: 1px solid darken(color(gray, 1), 3);
}
